<a href="https://colab.research.google.com/github/roitraining/SparkforDataEngineers/blob/Development/Ch03_SparkSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Open a terminal window and run the following commands:
sudo bash
start-hadoop
cd /home/student/ROI/SparkProgram/Day3
./fixhive.sh

### Let's make a simple hive table for regions.

In [1]:
! cat /home/student/ROI/Spark/regions.hql

CREATE TABLE Regions(
RegionID int,
RegionName string)
ROW FORMAT DELIMITED FIELDS TERMINATED BY ',';

LOAD DATA LOCAL INPATH '/home/student/ROI/Spark/datasets/northwind/CSV/regions' OVERWRITE INTO TABLE Regions;

select * from regions

In [2]:
import sys
sys.path.append('/home/student/ROI/Spark')
from initspark import *
sc, spark, conf = initspark()

### You can query an existing Hive table and bring it into a Spark DataFrame.

In [9]:
# regions = spark.read.csv('/home/student/ROI/Spark/datasets/northwind/CSVHeaders/regions', header=True) \
#    .where('regionid <= 3')


regions = spark.read.table('regions')
regions = regions.filter(regions.regionid <= 3)
regions.show()

regions = spark.sql('select * from regions').where('regionid <= 3')

AnalysisException: 'Table or view not found: territories;'

In [10]:
regions = spark.sql('select * from regions')
regions.show()
print(regions)

+--------+----------+
|regionid|regionname|
+--------+----------+
|       1|   Eastern|
|       2|   Western|
|       3|  Northern|
|       4|  Southern|
+--------+----------+

DataFrame[regionid: int, regionname: string]

### Read in a file to a Spark DataFrame.

In [4]:
territories = spark.read.csv('/home/student/ROI/Spark/datasets/northwind/CSVHeaders/territories', header=True)
territories.show()

+-----------+-------------+--------+
|TerritoryID|TerritoryName|RegionID|
+-----------+-------------+--------+
|      01581|     Westboro|       1|
|      01730|      Bedford|       1|
|      01833|    Georgetow|       1|
|      02116|       Boston|       1|
|      02139|    Cambridge|       1|
|      02184|    Braintree|       1|
|      02903|   Providence|       1|
|      03049|       Hollis|       3|
|      03801|   Portsmouth|       3|
|      06897|       Wilton|       1|
|      07960|   Morristown|       1|
|      08837|       Edison|       1|
|      10019|     New York|       1|
|      10038|     New York|       1|
|      11747|     Mellvile|       1|
|      14450|     Fairport|       1|
|      19428| Philadelphia|       3|
|      19713|       Neward|       1|
|      20852|    Rockville|       1|
|      27403|   Greensboro|       1|
+-----------+-------------+--------+
only showing top 20 rows

### Use createOrReplaceTempView to create a virtual table in the Hive catalog and then it can be queried using SQL as if it were a hive table.

In [12]:
territories.createOrReplaceTempView('territories')
t1 =spark.sql('select * from territories where regionid = 1')
t1.show()
print(t1.count())

+-----------+-------------+--------+
|TerritoryID|TerritoryName|RegionID|
+-----------+-------------+--------+
|      01581|     Westboro|       1|
|      01730|      Bedford|       1|
|      01833|    Georgetow|       1|
|      02116|       Boston|       1|
|      02139|    Cambridge|       1|
|      02184|    Braintree|       1|
|      02903|   Providence|       1|
|      06897|       Wilton|       1|
|      07960|   Morristown|       1|
|      08837|       Edison|       1|
|      10019|     New York|       1|
|      10038|     New York|       1|
|      11747|     Mellvile|       1|
|      14450|     Fairport|       1|
|      19713|       Neward|       1|
|      20852|    Rockville|       1|
|      27403|   Greensboro|       1|
|      27511|         Cary|       1|
|      40222|   Louisville|       1|
+-----------+-------------+--------+

19

### Spark DataFrames can be saved to a Hive table using either the saveAsTable method or writing a SQL query that uses CREATE TABLE AS.

In [15]:
! hadoop fs -rm -r /user/hive/warehouse/territories2
! hadoop fs -rm -r /user/hive/warehouse/territories3
! hadoop fs -rm -r /user/hive/warehouse/territoryregion

#territories.write.saveAsTable('Territories2', mode='overwrite')
spark.sql('create table Territories4 as select * from territories')

Deleted /user/hive/warehouse/territories2
rm: `/user/hive/warehouse/territories3': No such file or directory
rm: `/user/hive/warehouse/territoryregion': No such file or directory

DataFrame[]

In [16]:
spark.sql('select * from territories4').show()

+-----------+-------------+--------+
|TerritoryID|TerritoryName|RegionID|
+-----------+-------------+--------+
|      01581|     Westboro|       1|
|      01730|      Bedford|       1|
|      01833|    Georgetow|       1|
|      02116|       Boston|       1|
|      02139|    Cambridge|       1|
|      02184|    Braintree|       1|
|      02903|   Providence|       1|
|      03049|       Hollis|       3|
|      03801|   Portsmouth|       3|
|      06897|       Wilton|       1|
|      07960|   Morristown|       1|
|      08837|       Edison|       1|
|      10019|     New York|       1|
|      10038|     New York|       1|
|      11747|     Mellvile|       1|
|      14450|     Fairport|       1|
|      19428| Philadelphia|       3|
|      19713|       Neward|       1|
|      20852|    Rockville|       1|
|      27403|   Greensboro|       1|
+-----------+-------------+--------+
only showing top 20 rows

### Queries use standard HQL to mix Hive tables and virtual tables. Both are read into a Spark DataFrame and the processing happens at the Spark level not at the Hive level. HQL is just used to parse the logic into the corresponding Spark methods.

In [21]:
sql = """
select r.regionid, r.regionname, t.territoryid, UPPER(t.territoryname) as territoryname
from regions as r 
join territories as t on r.regionid = t.regionid 
order by r.regionid, t.territoryid
"""
rt = spark.sql(sql)
# rt.show(10)

from pyspark.sql.functions import expr
tr = regions.join(territories, regions.regionid == territories.RegionID). \
     select('regions.regionid', 'regionname', 'TerritoryID', 'TerritoryName') . \
     withColumn('TerritoryName', expr('UPPER(TerritoryName)')). \
     orderBy('regions.regionid', 'territoryid')
tr.show(10)

+--------+----------+-----------+-------------+
|regionid|regionname|TerritoryID|TerritoryName|
+--------+----------+-----------+-------------+
|       1|   Eastern|      01581|     WESTBORO|
|       1|   Eastern|      01730|      BEDFORD|
|       1|   Eastern|      01833|    GEORGETOW|
|       1|   Eastern|      02116|       BOSTON|
|       1|   Eastern|      02139|    CAMBRIDGE|
|       1|   Eastern|      02184|    BRAINTREE|
|       1|   Eastern|      02903|   PROVIDENCE|
|       1|   Eastern|      06897|       WILTON|
|       1|   Eastern|      07960|   MORRISTOWN|
|       1|   Eastern|      08837|       EDISON|
+--------+----------+-----------+-------------+
only showing top 10 rows

In [23]:
sql = """
select r.regionid, r.regionname, t.territoryid, UPPER(t.territoryname) as territoryname
from regions as r 
join territories as t on r.regionid = t.regionid 
"""
rt = spark.sql(sql).orderBy('regionid', 'territoryid')
rt.show()

+--------+----------+-----------+---------------+
|regionid|regionname|territoryid|  territoryname|
+--------+----------+-----------+---------------+
|       1|   Eastern|      01581|       WESTBORO|
|       1|   Eastern|      01730|        BEDFORD|
|       1|   Eastern|      01833|      GEORGETOW|
|       1|   Eastern|      02116|         BOSTON|
|       1|   Eastern|      02139|      CAMBRIDGE|
|       1|   Eastern|      02184|      BRAINTREE|
|       1|   Eastern|      02903|     PROVIDENCE|
|       1|   Eastern|      06897|         WILTON|
|       1|   Eastern|      07960|     MORRISTOWN|
|       1|   Eastern|      08837|         EDISON|
|       1|   Eastern|      10019|       NEW YORK|
|       1|   Eastern|      10038|       NEW YORK|
|       1|   Eastern|      11747|       MELLVILE|
|       1|   Eastern|      14450|       FAIRPORT|
|       1|   Eastern|      19713|         NEWARD|
|       1|   Eastern|      20852|      ROCKVILLE|
|       1|   Eastern|      27403|     GREENSBORO|
|       1|   Eastern|      27511|           CARY|
|       1|   Eastern|      40222|     LOUISVILLE|
|       2|   Western|      60179|HOFFMAN ESTATES|
+--------+----------+-----------+---------------+
only showing top 20 rows

### Lab: Read the northwind JSON products and make it into a TempView and do the same with the CSVHeaders version of categories.

In [0]:
/home/student/ROI/Spark/datasets/northwind/JSON
/home/student/ROI/Spark/datasets/northwind/CSVHeaders

### Install the MySQL Python connector. This has nothing to do with Spark but if you want to run SQL queries directly, it is helpful.

In [0]:
! pip install mysql-connector-python

### Let's make sure we have a database for northwind and no regions table.

In [25]:
import mysql.connector
try:
    cn = mysql.connector.connect(host='localhost', user='test', password='password')
    cursor = cn.cursor()
    cursor.execute('create database if not exists northwind')
    cn.close()

    cn = mysql.connector.connect(host='localhost', user='test', password='password', database='northwind')
    cursor = cn.cursor()    
    cursor.execute('drop table if exists regions')
    cn.close()
except:
    print('something went wrong')
else:
    print('success')

success

### Write a DataFrame to a SQL database.

In [26]:
regions.write.format("jdbc").options(url="jdbc:mysql://localhost/northwind", driver='com.mysql.jdbc.Driver', dbtable='regions', user='test', password = "password", mode = "append", useSSL = "false").save()

### Read a SQL table into a Spark DataFrame.

In [28]:
regions2 = spark.read.format("jdbc").options(url="jdbc:mysql://localhost/northwind", driver="com.mysql.jdbc.Driver", dbtable= "regions", user="test", password="password").load()
regions2.show()

+--------+----------+
|regionid|regionname|
+--------+----------+
|       1|   Eastern|
|       2|   Western|
|       3|  Northern|
|       4|  Southern|
|       5|      Apac|
+--------+----------+

### Creating the regions2 DataFrame does not execute anything yet, but by making the DataFrame into a Temp View then running a Spark SQL query, it tells Spark to read the SQL data into a DataFrame and then use the cluster to do the processing, not the SQL source.

In [0]:
regions2.createOrReplaceTempView('regions2')
spark.sql('select * from regions2 where regionid < 3').show()

### Alternate ways to code a query using SQL and methods.

In [0]:
print(spark.sql('select count(*) from regions').collect())
spark.sql('select * from regions').count()

### Using SQL you can use familiar syntax instead of withColumn or withCoumnRenamed methods.

In [0]:
t1 = spark.sql('select TerritoryID as TerrID, UPPER(TerritoryName) as TerritoryName, RegionID from territories')
t1.show(5)

from pyspark.sql.functions import expr
territories.withColumn('TerritoryName', expr('UPPER(TerritoryName)')).withColumnRenamed('TerritoryID', 'TerrID').show(5)

### Sometimes there is a function in Python that doesn't exist in SQL and it would be helpful to use, so you could make a udf and use withColumn.

In [0]:
from pyspark.sql.functions import expr, udf
from pyspark.sql.types import *

t2 = spark.sql('select * from territories')
t2.printSchema()
#t2.show()
t2 = t2.withColumn('upperName', expr('UPPER(TerritoryName)'))
t2.show(5)

t2 = t2.withColumn('titleName', udf(lambda x : x.title(), StringType())(t2.upperName))
t2.show(5)

### To make it easier though, you could make the Python function into a udf that SQL can understand similar to how you can make a DataFrame seem like a virtual table with createOrReplaceTempView.

In [0]:
def reverseString(x):
    return x[::-1]

spark.udf.register('reverse', reverseString, StringType())

spark.sql('select *, reverse(TerritoryName) as Reversed from Territories').orderBy('Reversed').show()

### HQL has collect_set and collect_list functions to aggregate items into a list instead of summing them up.

In [0]:
from pyspark.sql.functions import collect_list
territories.groupBy(territories.RegionID).agg(collect_list(territories.TerritoryName)).show()

tr1 = spark.sql("SELECT RegionID, collect_list(TerritoryName) AS TerritoryList FROM Territories GROUP BY RegionID")
tr1.show()
tr1.printSchema()
print(tr1.take(1))

### Instead of a simple datatype you could also collect complex structured objects using the HQL NAMED_STRUCT.

In [0]:

sql = """SELECT r.RegionID, r.RegionName
, COLLECT_SET(NAMED_STRUCT("TerritoryID", TerritoryID, "TerritoryName", TerritoryName)) AS TerritoryList
FROM Regions AS r
JOIN Territories AS t ON r.RegionID = t.RegionID
GROUP BY r.RegionID, r.RegionName
ORDER BY r.RegionID"""

tr2 = spark.sql(sql)
tr2.printSchema()
print(tr2)
tr2.show()
print(tr2.take(2))
tr2.write.json('TerritoryRegion.json')
spark.sql('create table TerritoryRegion as ' + sql)

### If you have data that is already collected into a complex datatype and want to flatten it, you could use HQL EXPLODE function.

### You could use the Spark explode method.

In [0]:
from pyspark.sql.functions import explode
tr1.select('RegionID', explode('TerritoryList')).show()

### Or if the DataFrame is turned into a Temp View, you could use the HQL query to do it.

In [0]:
tr1.createOrReplaceTempView('RegionTerritories')
sql = """SELECT RegionID, TerritoryName
FROM RegionTerritories
LATERAL VIEW EXPLODE(TerritoryList) EXPLODED_TABLE AS TerritoryName
ORDER BY RegionID, TerritoryName
"""
spark.sql(sql).show()

### Or you could select specific elements from a collection.

In [0]:
tr2.createOrReplaceTempView('RegionTerritories')
spark.sql("select RegionId, RegionName, TerritoryList[0] as First, TerritoryList[size(TerritoryList) - 1] as Last, size(TerritoryList) as TerritoryCount from RegionTerritories").show()

### If the array is of structs note the syntax of fetching the elements from the struct uses the . like an object property.

In [0]:
sql = """SELECT RegionID, RegionName, Territory.TerritoryID AS TerritoryID
, Territory.TerritoryName AS TerritoryName
FROM RegionTerritories
LATERAL VIEW EXPLODE(TerritoryList) EXPLODED_TABLE AS Territory
"""
spark.sql(sql).show()

### Homework ##

**First Challenge**

Create a Python function to determine if a number is odd or even and use that to select only the even numbered shippers from the TSV folder of northwind. Note the TSV file does not have headers so you will need to do something to make the DataFrame have a meaningful structure. I would suggest using SparkSql as much as possible to rename and cast the columns which are ShipperID, CompanyName and Phone.

**Second Challenge**

Take the Order_LineItems.json folder, read it into a DataFrame, and flatten it and then calculate the average price paid for a product.

In [0]:
# Read the following code and see how it will shape order line items into the order header record
# You will use the result of this saved file for the second challenge
o = spark.read.csv('/home/student/ROI/Spark/datasets/northwind/CSVHeaders/orders', header = True, inferSchema = True)
od = spark.read.csv('/home/student/ROI/Spark/datasets/northwind/CSVHeaders/orderdetails', header = True, inferSchema = True)

o.createOrReplaceTempView('Orders')
od.createOrReplaceTempView('OrderDetails')
sql = """
select o.OrderID, o.CustomerID, o.OrderDate
           , COLLECT_SET(NAMED_STRUCT("ProductID", od.ProductID, 
                                      "UnitPrice", od.UnitPrice,
                                      "Quantity", od.Quantity,
                                      "Discount", od.discount)) as LineItems
from Orders as o join OrderDetails as od on o.OrderID = od.OrderID
GROUP BY o.OrderID, o.CustomerID, o.OrderDate
ORDER BY o.OrderID"""
od2 = spark.sql(sql)
od2.write.json('Orders_LineItems.json')